meta(charset="utf-8")
<!--[if IE]>
meta(http-equiv='X-UA-Compatible', content="IE=edge")
<![endif]-->
title #{title}
meta(name="keywords" content="")
meta(name="description" content="")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900&display=swap")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.1/css/all.min.css")
link(rel="stylesheet" href="styles/main.css")
script(src="https://api-maps.yandex.ru/2.1/?apikey=5dc03896-ed83-44fc-9844-aa04ebfa0c14&lang=en_US" type="text/javascript")