section.about
    .container
        section.about-top
            h3.title-h3.title-h3--settings About #[span.title-h3--orange us] #[span.title-h3__subtitle What we do with love]
            .about-lines
                img(src="img/svg/lines.svg", alt="lines")
            .about-description
                p Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse

        section.about-buttons
            button.about-buttons__button.about-buttons__button--active welcome
            button.about-buttons__button vision
            button.about-buttons__button mission
            button.about-buttons__button mission

        section.about-features
            .about-features-box
                .about-features-box-icon
                    i(class="far fa-lightbulb")
                .about-features-box-description
                    h5.title-h5.title-h5--indents 100% Money Back
                    p aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.
            
            .about-features-box
                .about-features-box-icon
                    i(class="far fa-lightbulb")
                .about-features-box-description
                    h5.title-h5.title-h5--indents Cross Browser
                    p aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.

            
            .about-features-box
                .about-features-box-icon
                    i(class="fas fa-flag-checkered")
                .about-features-box-description
                    h5.title-h5.title-h5--indents Retina Display
                    p aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.

            .about-features-box
                .about-features-box-icon
                    i(class="fas fa-file-code")
                .about-features-box-description
                    h5.title-h5.title-h5--indents Bootstrap 4
                    p aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.

