section.contact
    section.container
        section.contact-top
            h3.title-h3 get in #[touch.title-h3--orange touch] #[span.title-h3__subtitle What We Do With Love]
            img.contact-top-lines(src="../img/svg/twolines.svg", alt="lines")
            .contact-top-description
                p Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse
        section.contact-wrapper
            form.contact-feedback-form
                .contact-feedback-form-group
                    input.contact-feedback-form__input-field.contact-feedback-form__input-field--size(name="Name" autocomplete="off" type="text" placeholder="Name")
                    input.contact-feedback-form__input-field.contact-feedback-form__input-field--size(name="Email" type="email" autocomplete="off" placeholder="Email")
                input.contact-feedback-form__input-field(name="Subject" type="text" autocomplete="off" placeholder="Subject")
                textarea.contact-feedback__message-box(name="message" placeholder="Message")
                input.contact-feedback__submit(name="send" type="submit" value="Send Message")
            section.contact-info
                h6.contact-info__title Additional info
                .contant-info-description
                    p If you have any questiong about our products or something else, please email us or call us. We'll get in touch with you as soon as possible.
                .contact-info-short-data
                    p #[span.contact-info-short-data__icon #[i.fas.fa-map-marker-alt]] Jl. Pahlawan VII No. 247D Sidoarjo
                    p #[span.contact-info-short-data__icon #[i.fas.fa-phone-alt]] +62 - 85745965973
                    p #[span.contact-info-short-data__icon #[i.fas.fa-envelope]] rudhisasmito@gmail.com
                    p #[span.contact-info-short-data__icon #[i.far.fa-clock]] Mo - Fr: 9am to 6pm Sa, Su: 9am to 2pm
