footer.footer
    section.footer-social
        a.footer-social__link(href="#!") #[i.fab.fa-facebook-f]
        a.footer-social__link(href="#!") #[i.fab.fa-twitter]
        a.footer-social__link(href="#!") #[i.fab.fa-linkedin-in]
        a.footer-social__link(href="#!") #[i.fab.fa-pinterest]
        a.footer-social__link(href="#!") #[i.fab.fa-google-plus]
        a.footer-social__link(href="#!") #[i.fab.fa-dribbble]
    section.footer-copyright
        p © 2019 #[a.footer-copyright__link(href="#!") Fe] All rights reserved.