header.header
    .container
        .header-top
            img(src="img/svgsprites/base-svg/logo.svg" alt="logo").header-logo
            nav.header-nav
                .header-nav-burger#burger-menu
                    span#line-top.header-nav-burger__line
                    span#line-middle.header-nav-burger__line.header-nav-burger__line--middle
                    span#line-bottom.header-nav-burger__line
                .header-nav-overlay#overlay
                    ul.header-nav-list
                        li.header-nav-list-item #[a(href="#").header-nav-list-item__link Home]
                        li.header-nav-list-item #[a(href="#").header-nav-list-item__link About Us]
                        li.header-nav-list-item #[a(href="#").header-nav-list-item__link Products]
                        li.header-nav-list-item #[a(href="#").header-nav-list-item__link Testimonals]
                        li.header-nav-list-item #[a(href="#").header-nav-list-item__link Contact]
        .header-content
            p.header-content-slogan get ready
            img.header-content-logo(src="../img/svgsprites/base-svg/bigLogo.svg", alt="header content logo")
            p.header-content-description Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante
            a#scroll(href="#about-section").header-scroll
                svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="53px" height="75px")
                    path(fill-rule="evenodd" stroke-width="3px" stroke="rgb(255, 255, 255)" fill-opacity="0" opacity="0.702" fill="rgb(255, 255, 255)"
                    d="M28.283,68.126 L23.926,68.126 C14.302,68.126 6.500,61.228 6.500,52.720 L6.500,21.906 C6.500,13.397 14.302,6.499 23.926,6.499 L28.283,6.499 C37.907,6.499 45.709,13.397 45.709,21.906 L45.709,52.720 C45.709,61.228 37.907,68.126 28.283,68.126 ZM31.152,19.408 C31.152,16.517 28.501,14.174 25.232,14.174 C21.963,14.174 19.313,16.517 19.313,19.408 L19.313,26.884 C19.313,29.776 21.963,32.118 25.232,32.118 C28.501,32.118 31.152,29.776 31.152,26.884 L31.152,19.408 Z")
    svg.header-triangle(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 12" preserveAspectRatio="none")
        polygon(fill="white" points="0,12 100,12 100,0")
        polygon(fill="rgb(0, 204, 255)" points="55.931,5.3 100,10.331 100,0")
