section.pricing-plans
    section.container
        +sectionTop("plans &", "pricing", "title-h3--orange", "pricing-plans-lines", "img/svg/twoLines.svg", "lines", "", "pricing-plans-top-description").pricing-plans-top
            p Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse
        section.pricing-plans-cards
            +plansCard(plansCardData)