section.quote
    svg.quote-triangle-top(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 12" preserveAspectRatio="none") 
        polygon(fill="#f7f7f7" points="100,0 0,11.806 0,0")
    section.container
        section.quote-carousel
            section.quote-carousel-item
                .quote-carousel-item__icon #[i.fas.fa-quote-right]
                .quote-slider-slide__text 
                    p Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendiss  aliquam ipsum ante.
                .quote-carousel-item__author 
                    p Rudhi Sasmito - CEO Company
        section.quote-points
            button.quote-points__point.quote-points__point--active
            button.quote-points__point
            button.quote-points__point
    svg.quote-triangle-bottom(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 12" preserveAspectRatio="none")
        polygon(fill="white" points="0,12 100,12 100,0")
        polygon(fill="rgb(0, 204, 255)" points="55.931,5.3 100,10.331 100,0")
