.team
    svg.team-triangle-top(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 12" preserveAspectRatio="none") 
        polygon(fill="#f7f7f7" points="100,0 0,11.947 0,0")
    .container
        +sectionTop("Our", "team", "title-h3--white", "team-lines", "img/svg/lines.svg", "lines", "title-h3__subtitle--white", "team-description").team-top
            p Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse
        .team-box
            +teamBoxItem(teamInfo)
    svg.team-triangle-bottom(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 12" preserveAspectRatio="none")
        polygon(fill="white" points="0,12 100,12 100,0")
        polygon(fill="rgb(0, 204, 255)" points="55.931,5.3 100,10.331 100,0")