.testimonials
    .container
        +sectionTop("Our", "testimonial", "title-h3--orange", "testimonials-top-lines", "img/svg/twoLines.svg", "lines", "", "testimonials-top-description").testimonials-top
            p.testimonials-top-description Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse
        .testimonials-technologies
            a(href="#!")
                img(src="../img/technologies/sass.png", alt="sass")
            a(href="#!")
                img(src="../img/technologies/less.png", alt="less")
            a(href="#!")
                img(src="../img/technologies/mediumRare.png", alt="Medium Rare")
            a(href="#!")
                img(src="../img/technologies/bootstrap.png", alt="bootstrap")
            a(href="#!")
                img(src="../img/technologies/jquery.png", alt="jQuery")
        .testimonials-clients.owl-carousel
            +testimonialsClientBox(testimonalsCliensData)
            +testimonialsClientBox(testimonalsCliensData)
            +testimonialsClientBox(testimonalsCliensData)
            +testimonialsClientBox(testimonalsCliensData)
            +testimonialsClientBox(testimonalsCliensData)
            +testimonialsClientBox(testimonalsCliensData)
            +testimonialsClientBox(testimonalsCliensData)
            +testimonialsClientBox(testimonalsCliensData)
            +testimonialsClientBox(testimonalsCliensData)