section.tweet
    svg.tweet-triangle-top(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 12" preserveAspectRatio="none") 
        polygon(fill="#f7f7f7" points="100,0 0,11.947 0,0")
    section.container
        section.tweet-slider
            section.tweet-slider-slide
                span.tweet-slider-slide__icon #[i.fab.fa-twitter]
                p.tweet-slider-slide__text Premium Template - orci in adipiscing felis velit nibh. Consectetuer porttitor feugiat vestibulum sit feugiat, voluptates dui eros libero...
        section.tweet-slider-points
            button.tweet-slider-dot
            button.tweet-slider-dot.tweet-slider-dot--active
            button.tweet-slider-dot
            button.tweet-slider-dot
        section.tweet-follow
            p Follow us on Twitter: #[a(href="#!").tweet-follow__link @rudhisasmito]
    svg.tweet-triangle-bottom(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 12" preserveAspectRatio="none")
        polygon(fill="white" points="0,12 100,12 100,0")
        polygon(fill="rgb(0, 204, 255)" points="55.931,5.3 100,10.331 100,0")
