section.our-work
    section.container
        +sectionTop("our", "work", "title-h3--orange", "our-work-top-lines", "img/svg/twoLines.svg", "lines", "", "our-work-top-description").our-work-top
            p Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse
    section.our-work-works
        section.our-work-works-preview.our-work-works-preview--work-1
            p.our-work-works-preview__title Lorem ipsum
            p.our-work-works-preview__description Donec molestie, faucibus a amet commodo scelerisque libero massa. Sapien quam in eu vel nulla.
            button.our-work-works-preview__button view case study
        section.our-work-works-preview.our-work-works-preview--work-2
            p.our-work-works-preview__title Lorem ipsum
            p.our-work-works-preview__description Donec molestie, faucibus a amet commodo scelerisque libero massa. Sapien quam in eu vel nulla.
            button.our-work-works-preview__button view case study
        section.our-work-works-preview.our-work-works-preview--work-3
            p.our-work-works-preview__title Lorem ipsum
            p.our-work-works-preview__description Donec molestie, faucibus a amet commodo scelerisque libero massa. Sapien quam in eu vel nulla.
            button.our-work-works-preview__button view case study
        section.our-work-works-preview.our-work-works-preview--work-4
            p.our-work-works-preview__title Lorem ipsum
            p.our-work-works-preview__description Donec molestie, faucibus a amet commodo scelerisque libero massa. Sapien quam in eu vel nulla.
            button.our-work-works-preview__button view case study
        section.our-work-works-preview.our-work-works-preview--work-5
            p.our-work-works-preview__title Lorem ipsum
            p.our-work-works-preview__description Donec molestie, faucibus a amet commodo scelerisque libero massa. Sapien quam in eu vel nulla.
            button.our-work-works-preview__button view case study
