.facts
    padding 118px 0px 203px 0
    background-color #eaeaea

.facts-title
    margin-bottom 41px
    text-transform uppercase

.facts-subtitle
    max-width 538px
    margin 0 auto 74px auto
    line-height 1.25
    text-align center
    color #666

.facts-features
    display flex
    border 1px solid #ccc
    background-color #fff
    height 266px

.facts-features-box
    padding: 0 50px 0 48px
    border-right 1px solid #ccc
    display flex
    flex-direction column
    justify-content center

    &:last-child
        border-right none 

.facts-features-box__icon
    margin-bottom 32px
    font-size(70px)
    text-align center
    color #333

.facts-features-box__title
    margin-bottom 16px
    font-size(22px)
    line-height 1
    text-align center
    color #00ccff

.facts-features-box__number
    font-size(52px)
    line-height 1
    font-weight 300
    text-align center
    color #333