.quote
    background-color #333
    background-image url(../img/background/teambg.png)
    background-size cover
    background-position center

.quote-triangle-top
    margin 0 0 58px 0
    transform translateY(-3px)

.quote-triangle-bottom
    margin 59px 0 0 0
    transform translateY(1px)

    @media (min-width: 992px)
        transform translateY(3px)

.quote-carousel-item
    max-width 800px
    padding 0 5px
    margin 0 auto
    text-align center

.quote-carousel-item__icon
    margin 0 0 62px 0
    font-size(100px)
    line-height 1
    color #00ccff

    @media (min-width: 768px)
        margin 0 0 82px 0

.quote-slider-slide__text
    margin 0 0 50px 0
    font-size(18px)
    line-height 1.25
    color #fff

    @media (min-width: 768px)
        margin 0 0 66px 0

.quote-carousel-item__author
    margin 0 0 38px 0
    line-height 1.25
    font-size(18px)
    color #fff

.quote-points
    display flex
    justify-content center

.quote-points__point
    width 11px
    height 11px
    margin 0 5px 0 0 
    background-color #cccccc
    border none
    border-radius 50%
    cursor pointer
    transition 0.5s ease-in-out

    &:focus
        outline none 

    &:last-child
        margin 0

    &:hover 
        background-color #999

.quote-points__point.active
    background-color #999