.team
    // height 100vh
    background-color #333
    background-image url(../img/background/teambg.png)
    background-size cover

.team-top
    display flex
    margin 70px 0 99px 0

.team-lines
    margin 0 32px 0 79px

.team-description
    max-width 539px
    transform translateY(15px)
    line-height 1.25
    color #fff
    align-self center

.team-box
    display flex
    justify-content space-between

.team-box-item
    width 200px
    display flex
    flex-direction column
    align-items center

    p
        line-height normal
        font-size(12px)
        color #fff

.team-box-item-img
    position relative
    width 178px
    height 178px
    background-color #fff
    border-radius 50%
    overflow hidden
    margin-bottom 30px
    cursor pointer

    img 
        width 100%
        height auto

    &:hover .text-box-item-img-hover-social
        transform rotate(0deg)

.text-box-item-img-hover-social
    display flex
    justify-content center
    align-items center
    position absolute
    left 0
    right 0
    top 0
    bottom 0
    border-radius 45%
    background-color #000
    transform-origin right top
    transform rotate(90deg)
    transition 0.5s ease-in-out

.text-box-item-img-hover-social__link
    font-size(18px)
    line-height 1
    color #b1afad
    margin-right 20px
    transition 0.5s ease-in

    &:hover
        color #00ccff

    &:last-child
        margin-right 0

.team-box-item__name
    display block
    margin-bottom 5px
    font-size(20px)
    font-weight bold
    line-height 1
    text-transform uppercase
    text-align center
    color #fff

.team-box-item__post
    display block
    font-size(12px)
    line-height 1
    text-align center
    color #00ccff
    margin-bottom 14px

.team-triangle-bottom
    margin 117px 0 0 0