- const plansCardData = [{planName: "Basic Plan", pricePerMonth: 25, services: ["60 Users", "Unlimited Forums", "Unlimited Reports", "3,000 Entries per Month", "200 MB Storage"]}, {planName: "Basic Plan", pricePerMonth: 25, services: ["60 Users", "Unlimited Forums", "Unlimited Reports", "3,000 Entries per Month", "200 MB Storage"]}, {planName: "Basic Plan", pricePerMonth: 25, services: ["60 Users", "Unlimited Forums", "Unlimited Reports", "3,000 Entries per Month", "200 MB Storage"]}, {planName: "Basic Plan", pricePerMonth: 25, services: ["60 Users", "Unlimited Forums", "Unlimited Reports", "3,000 Entries per Month", "200 MB Storage"]}]

mixin plansCard(planInfo)
    for plan in planInfo
        .pricing-plans-cards-card
            .pricing-plans-cards-card__plan #[span #{plan.planName}]
            .pricing-plans-cards-card__price #[sup #[span.pricing-plans-cards-card__price--symbol-size $]]#{plan.pricePerMonth}#[span.pricing-plans-cards-card__price--text-style /mo]
            .pricing-plans-cards-card-plan-info
                for service in plan.services
                    p #{service}
            a.pricing-plans-cards-card__order-button(href="#!") order now
            p.pricing-plans-cards-card__trial-preriod 30 Days tree trial