extends ../layouts/page-layout/page.pug
block variables
    - const title = 'Fe'

block content
    main(role="main")
        include ../sections/header.pug
        include ../sections/about.pug
        include ../sections/skills.pug
        include ../sections/team.pug
        include ../sections/services.pug
        include ../sections/facts.pug
        include ../sections/work.pug
        include ../sections/portfolio.pug
        include ../sections/tweet.pug
        include ../sections/testimonials.pug
        include ../sections/pricingPlans.pug
        include ../sections/quote.pug
        include ../sections/contact.pug
block scripts
    script(src="js/main.js")
