*
    box-sizing: border-box

h1, h2, h3, h4, h5, h6, p, ul
    margin 0
    padding 0

body 
    font-family 'Lato', sans-serif

.container
    width 100%
    padding-left 15px
    padding-right 15px
    margin 0 auto

    @media(min-width: 576px) 
        max-width 540px
        // padding 0

    @media(min-width: 768px)
        max-width 720px
        // padding 0

    @media(min-width: 992px)
        max-width 960px

    @media(min-width: 1200px)
        max-width 1140px